<% provide :page_title, "Список подразделений" %>

<%= page_title "Список подразделений" do %>
  <%= link_to [:new, :admin, :department], class: "btn-primary flex flex-nowrap items-center gap-2 w-full justify-center" do %>
    <%= bs_icon 'folder-plus' %>
    Добавить
  <% end %>
<% end %>

<%= fields_for :departments do |f| %>
  <div class="treeview mb-4" data-controller="nested-sortable" data-nested-sortable-handle-value=".handle">
    <%= nested_list Department do |dep| %>
      <div class="group flex items-center gap-1 select-none">
        <%#= bs_icon 'dash-square' %>
        <%#= f.check_box :id, class: "mr-2 align-middle" %>
        <%= tag.span class: "click hover:text-gray-950" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9.776c.112-.017.227-.026.344-.026h15.812c.117 0 .232.009.344.026m-16.5 0a2.25 2.25 0 0 0-1.883 2.542l.857 6a2.25 2.25 0 0 0 2.227 1.932H19.05a2.25 2.25 0 0 0 2.227-1.932l.857-6a2.25 2.25 0 0 0-1.883-2.542m-16.5 0V6A2.25 2.25 0 0 1 6 3.75h3.879a1.5 1.5 0 0 1 1.06.44l2.122 2.12a1.5 1.5 0 0 0 1.06.44H18A2.25 2.25 0 0 1 20.25 9v.776" />
          </svg>
        <% end %>
        <%= tag.span class: "handle hover:text-gray-950" do %>
          <%= bs_icon 'grip-vertical' %>
        <% end if true %>

        <%= tag.div dep.name, class: "flex-auto truncate select-text", title: dep.name %>

        <%= link_to [:edit, :admin, dep], class: "hidden group-hover:block text-pb-400 hover:text-pb-600" do %>
          <%= bs_icon 'pencil-square' %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
