<% phones = f.object.params.where(param_type: "phone") %>
<div class="flex flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline" data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
  <template data-nested-form-target="template">
    <%= f.fields_for :params, Param.new(param_type: "phone"), child_index: 'NEW_RECORD' do |param_fields| %>
      <%= render "param_form", f: param_fields, placeholder_type: "Тип номера", placeholder_value: "Номер" %>
    <% end %>
  </template>
  <%= label_tag "contact[params_attributes][0][value]", "Контактный телефон:", class: "font-medium min-w-64" %>
  <div class="flex flex-col gap-2 w-full">
    <%= f.fields_for :params, phones do |param_fields| %>
      <%= render "param_form", f: param_fields, placeholder_type: "Тип номера", placeholder_value: "Номер" %>
    <% end %>

    <button type="button" class="btn w-24 ml-auto" data-action="nested-form#add" data-nested-form-target="target">
      Добавить
    </button>
  </div>
</div>

<% emails = f.object.params.where(param_type: "email") %>
<div class="flex flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline" data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
  <template data-nested-form-target="template">
    <%= f.fields_for :params, Param.new(param_type: "email"), child_index: 'NEW_RECORD' do |param_fields| %>
      <%= render "param_form", f: param_fields, placeholder_type: "Тип e-mail", placeholder_value: "E-mail" %>
    <% end %>
  </template>
  <%= label_tag "contact[params_attributes][#{emails.count}][value]", "Контактный Email:", class: "font-medium min-w-64" %>
  <div class="flex flex-col gap-2 w-full">
    <%= f.fields_for :params, emails do |param_fields| %>
      <%= render "param_form", f: param_fields, placeholder_type: "Тип e-mail", placeholder_value: "E-mail" %>
    <% end %>

    <button type="button" class="btn w-24 ml-auto" data-action="nested-form#add" data-nested-form-target="target">
      Добавить
    </button>
  </div>
</div>

<div class="flex flex-wrap lg:flex-nowrap gap-2 mb-8 items-baseline">
  <%= f.label :address, "Адрес контакта:", class: "font-medium min-w-64" %>
  <div class="grid gap-2 grow">
    <%= f.text_area :address, class: "form-input min-h-24", data: { controller: "textarea-autogrow", textarea_autogrow_resize_debounce_delay_value: "500" } %>
    <%#= f.select :chief_id, Contact.all.collect {|contact| [ contact, contact.id ] }, { include_blank: true }, class: "form-input grow" %>
  </div>
</div>
