<div class="flex-1">
  <div class="flex flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline">
    <%= f.label :lastname, "Фамилия:", class: "font-medium min-w-64" %>
    <%= f.text_field :lastname, class: "form-input grow", placeholder: "Иванов" %>
  </div>

  <div class="flex flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline">
    <%= f.label :firstname, "Имя:", class: "font-medium min-w-64" %>
    <%= f.text_field :firstname, class: "form-input grow", placeholder: "Иван" %>
  </div>

  <div class="flex flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline">
    <%= f.label :middlename, "Отчество:", class: "font-medium min-w-64" %>
    <%= f.text_field :middlename, class: "form-input grow", placeholder: "Иванович" %>
  </div>

  <div class="flex flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline">
    <%= f.label :department_id, "Подразделение:", class: "font-medium min-w-64" %>
    <%= f.select :department_id, Department.all.collect {|dep| [ dep, dep.id ] }, { }, placeholder: "Наименование подразделения", class: "form-input grow", data: { controller: "tom-select" } %>
  </div>

  <div class="flex flex-wrap lg:flex-nowrap gap-2 mb-4 items-baseline">
    <%= f.label :title_id, "Должность:", class: "font-medium min-w-64" %>
    <%= f.select :title_id, Title.all.collect {|title| [ title, title.id ] }, { }, placeholder: "Наименование должности", class: "form-input grow", data: { controller: "tom-select" } %>
  </div>
</div>