<span class="block m-6 text-xl text-center leading-5 font-light text-gray-400">Для входа в систему введите email-адрес и пароль от вашего аккаунта</span>

<div class="card py-8 px-4 sm:px-10">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.label :email, "Email-адрес", class: "block text-sm font-medium leading-5 text-gray-700 tracking-[2px]" %>
      <div class="mt-1 relative rounded-md shadow-sm">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "user@adm.tver.ru", class: "form-input" %>
      </div>
    </div>

    <div class="mt-6">
        <%= f.label :password, "Пароль", class: "block text-sm font-medium leading-5 text-gray-700 tracking-[2px]" %>
        <div class="mt-1 relative rounded-md shadow-sm" data-controller="password-visibility">
          <%= f.password_field :password, autocomplete: "current_password", placeholder: "не менее 6 символов", class: "form-input", data: { password_visibility_target: "input" }, spellcheck: "false" %>
          <button type="button" data-action="password-visibility#toggle" class="text-gray-500 absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer no-focus">
            <span data-password-visibility-target="icon" class="hidden">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>
            </span>
            <span data-password-visibility-target="icon">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
              </svg>
            </span>
          </button>
        </div>
    </div>

    <div class="mt-6 flex items-center justify-between">
      <div class="flex items-center">
        <%= f.check_box :remember_me, class: "h-4 w-4" %>
        <%= f.label :remember_me, "Запомни меня", class: "ml-2 block text-sm leading-5 text-gray-900" %>
      </div>

      <div class="text-sm leading-5">
        <%= link_to "Восстановление пароля", new_password_path(resource_name), class: "link font-medium" %>
      </div>
    </div>

    <div class="mt-6">
      <span class="block w-full rounded-md shadow-sm">
        <button type="submit" class="btn-primary font-medium w-full flex justify-center">
          Войти
        </button>
      </span>
    </div>
  <% end %>

  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p class="mt-4 text-center text-sm text-gray-900 max-w">Войди в свой аккаунт или
      <%= link_to "создай новый", new_registration_path(resource_name), class: "link font-medium" %>
    </p>
  <% end %>
</div>
