<% provide :page_title, "Список должностей" %>

<%= page_title "Список должностей" do %>
  <%= link_to [:new, :admin, :title], class: "btn-primary flex flex-nowrap items-center gap-2 w-full justify-center" do %>
    <%= bs_icon 'folder-plus' %>
    Добавить
  <% end %>
<% end %>

<%= fields_for :title do |f| %>
  <div class="treeview mb-4" data-controller="nested-sortable" data-nested-sortable-handle-value=".handle" data-nested-sortable-resource-name-value="title">
    <ul>
      <% @titles.each do |title| %>
        <%= tag.li data: { sortable_update_url: admin_title_path(title) } do %>
          <div class="group flex items-center gap-1 select-none">
            <%#= bs_icon 'dash-square' %>
            <%= f.check_box title.id, class: "mr-2" %>
            <%= tag.span class: "click hover:text-gray-950" do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
              </svg>
            <% end %>
            <%= tag.span class: "handle hover:text-gray-950" do %>
              <%= bs_icon 'grip-vertical' %>
            <% end if true %>

            <%= tag.div title, class: "flex-auto truncate select-text", title: title %>

            <%= link_to [:edit, :admin, title], class: "hidden group-hover:block text-pb-400 hover:text-pb-600" do %>
              <%= bs_icon 'pencil-square' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
