<% provide :page_title, "Глобальные настройки" %>

<%= page_title "Глобальные настройки" %>

<%= form_with model: Setting.new, url: [:admin, :settings], method: :patch do |f| %>
  <%#= render "shared/errors", errors: @errors %>

  <%= render "general", form: f %>
  <hr class="my-8" />
  <%= render "smtp", form: f %>
  <hr class="my-8" />
  <%= render "asterisk", form: f %>

  <div class="flex gap-2 justify-center items-baseline mb-4">
    <%= f.button "Сохранить", class: "btn-primary" %>
  </div>
<% end %>